# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Environment
.env

# MacOS
.DS_Store

# Project specific
history/
models/

# Distribution / Packaging
dist/
build/
*.egg-info/
*.egg
