# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.ruff_cache/
.mypy_cache/
env/
venv/
.venv/

# Environment
.env

# MacOS
.DS_Store

# Project specific
history/
models/
models/search_index/
test_integration_env/

# Distribution / Packaging
dist/
build/
*.egg-info/
*.egg

# Logs
logs/
